Repository vexide/vexide, pull requests merged in 2024-10, with the labels that each got.

#132 docs: make general improvements
  .vscode/ltex.dictionary.en-US.txt
  .vscode/ltex.disabledRules.en-US.txt
  .vscode/settings.json
  CHANGELOG.md
  packages/vexide-core/src/allocator/wasm.rs
  packages/vexide-core/src/competition.rs
  packages/vexide-core/src/io/mod.rs
  packages/vexide-core/src/io/stdio.rs
  packages/vexide-core/src/sync/condvar.rs
  packages/vexide-core/src/sync/mutex.rs
  packages/vexide-core/src/sync/rwlock.rs
  packages/vexide-devices/src/adi/accelerometer.rs
  packages/vexide-devices/src/adi/addrled.rs
  packages/vexide-devices/src/adi/analog.rs
  packages/vexide-devices/src/adi/digital.rs
  packages/vexide-devices/src/adi/encoder.rs
  packages/vexide-devices/src/adi/light_sensor.rs
  packages/vexide-devices/src/adi/mod.rs
  packages/vexide-devices/src/adi/potentiometer.rs
  packages/vexide-devices/src/battery.rs
  packages/vexide-devices/src/controller.rs
  packages/vexide-devices/src/lib.rs
  packages/vexide-devices/src/peripherals.rs
  packages/vexide-devices/src/screen.rs
  packages/vexide-devices/src/smart/imu.rs
  packages/vexide-devices/src/smart/link.rs
  packages/vexide-devices/src/smart/mod.rs
  packages/vexide-devices/src/smart/motor.rs
  packages/vexide-devices/src/smart/optical.rs
  packages/vexide-devices/src/smart/rotation.rs
  packages/vexide-devices/src/smart/serial.rs
  packages/vexide-devices/src/smart/vision.rs
  packages/vexide-startup/src/banner/mod.rs
  packages/vexide-startup/src/lib.rs
  packages/vexide/examples/adi.rs
  packages/vexide/examples/adi_expander.rs
  packages/vexide/examples/screen.rs
  packages/vexide/src/lib.rs
Labels: type: documentation, semver: major

#156 chore: bump vexide and update vex-sdk dep
  CHANGELOG.md
  Cargo.toml
  packages/vexide-async/Cargo.toml
  packages/vexide-core/Cargo.toml
  packages/vexide-devices/Cargo.toml
  packages/vexide-graphics/Cargo.toml
  packages/vexide-panic/Cargo.toml
  packages/vexide-startup/Cargo.toml
Labels: semver: minor

#152 refactor: switch to an all in one controller state getter
  CHANGELOG.md
  examples/clawbot.rs
  examples/pneumatics.rs
  examples/smart_devices.rs
  examples/split_arcade_drive.rs
  examples/tank_drive.rs
  packages/vexide-devices/src/controller.rs
Labels: scope: smart-devices, semver: major

#161 refactor: Battery API
  CHANGELOG.md
  packages/vexide-devices/src/battery.rs
Labels: type: enhancement, semver: major, scope: misc-devices

#165 fix: build docs to target supporting vex-sdk calling convention
  Cargo.toml
  packages/vexide-async/Cargo.toml
  packages/vexide-core/Cargo.toml
  packages/vexide-devices/Cargo.toml
  packages/vexide-graphics/Cargo.toml
  packages/vexide-macro/Cargo.toml
  packages/vexide-panic/Cargo.toml
  packages/vexide-startup/Cargo.toml
  packages/vexide/Cargo.toml
Labels: type: documentation, semver: patch

#167 feat: add support for 5.5W motors
  CHANGELOG.md
  examples/clawbot.rs
  examples/split_arcade_drive.rs
  examples/tank_drive.rs
  packages/vexide-devices/src/smart/motor.rs
Labels: scope: smart-devices, semver: major

#174 refactor(ControllerScreen): use as_ptr instead of into_raw
  packages/vexide-devices/src/controller.rs
Labels: type: refactor, semver: patch, scope: misc-devices

#138 refactor: rename `Screen` to `Display`
  CHANGELOG.md
  examples/screen.rs
  packages/vexide-devices/src/display.rs
  packages/vexide-devices/src/lib.rs
  packages/vexide-devices/src/peripherals.rs
  packages/vexide-graphics/src/embedded_graphics.rs
  packages/vexide-graphics/src/slint.rs
  packages/vexide-macro/src/lib.rs
  packages/vexide-panic/src/lib.rs
  packages/vexide/src/lib.rs
Labels: scope: graphics, semver: major

#184 fix: use correct motor velocity getter
  CHANGELOG.md
  Cargo.toml
  packages/vexide-devices/src/smart/motor.rs
Labels: type: bug, scope: smart-devices, semver: major

#160 refactor: update linkerscript
  packages/vexide-startup/link/v5.ld
Labels: type: refactor

#180 refactor: rename `OpticalSensor::rgb` -> `color` and `raw` -> `raw_color`
  CHANGELOG.md
  packages/vexide-devices/src/smart/optical.rs
Labels: scope: smart-devices, semver: major

#155 refactor: more lints and docs
  .vscode/ltex.dictionary.en-US.txt
  .vscode/settings.json
  CHANGELOG.md
  Cargo.toml
  packages/vexide-async/src/executor.rs
  packages/vexide-async/src/reactor.rs
  packages/vexide-core/src/allocator/vexos.rs
  packages/vexide-core/src/backtrace.rs
  packages/vexide-core/src/competition.rs
  packages/vexide-core/src/float/mod.rs
  packages/vexide-core/src/io/stdio.rs
  packages/vexide-core/src/program.rs
  packages/vexide-core/src/sync/barrier.rs
  packages/vexide-core/src/sync/condvar.rs
  packages/vexide-core/src/sync/lazy.rs
  packages/vexide-core/src/sync/mutex.rs
  packages/vexide-core/src/sync/once.rs
  packages/vexide-core/src/time.rs
  packages/vexide-devices/src/adi/accelerometer.rs
  packages/vexide-devices/src/adi/addrled.rs
  packages/vexide-devices/src/adi/analog.rs
  packages/vexide-devices/src/adi/digital.rs
  packages/vexide-devices/src/adi/encoder.rs
  packages/vexide-devices/src/adi/light_sensor.rs
  packages/vexide-devices/src/adi/line_tracker.rs
  packages/vexide-devices/src/adi/mod.rs
  packages/vexide-devices/src/adi/motor.rs
  packages/vexide-devices/src/adi/potentiometer.rs
  packages/vexide-devices/src/adi/pwm.rs
  packages/vexide-devices/src/adi/range_finder.rs
  packages/vexide-devices/src/adi/solenoid.rs
  packages/vexide-devices/src/battery.rs
  packages/vexide-devices/src/color.rs
  packages/vexide-devices/src/controller.rs
  packages/vexide-devices/src/display.rs
  packages/vexide-devices/src/geometry/mod.rs
  packages/vexide-devices/src/peripherals.rs
  packages/vexide-devices/src/position.rs
  packages/vexide-devices/src/smart/distance.rs
  packages/vexide-devices/src/smart/expander.rs
  packages/vexide-devices/src/smart/gps.rs
  packages/vexide-devices/src/smart/imu.rs
  packages/vexide-devices/src/smart/link.rs
  packages/vexide-devices/src/smart/mod.rs
  packages/vexide-devices/src/smart/motor.rs
  packages/vexide-devices/src/smart/optical.rs
  packages/vexide-devices/src/smart/rotation.rs
  packages/vexide-devices/src/smart/serial.rs
  packages/vexide-devices/src/smart/vision.rs
  packages/vexide-devices/src/usd.rs
  packages/vexide-macro/src/lib.rs
  packages/vexide-macro/src/parse.rs
  packages/vexide-panic/src/lib.rs
  packages/vexide-startup/examples/booting.rs
  packages/vexide-startup/src/banner/mod.rs
  packages/vexide-startup/src/banner/themes.rs
  packages/vexide-startup/src/lib.rs
Labels: type: bug, type: documentation, type: refactor, semver: major

#187 docs: fix inconsistencies in the `Display` docs
  CHANGELOG.md
  packages/vexide-core/src/program.rs
  packages/vexide-devices/src/display.rs
Labels: type: documentation, scope: graphics, semver: patch, scope: misc-devices

#189 feat: add controller ID getter
  CHANGELOG.md
  packages/vexide-devices/src/controller.rs
Labels: type: enhancement, semver: minor, scope: misc-devices

#194 fix: improve rust 2024 compat
  packages/vexide-core/src/float/newlib.rs
Labels: type: refactor, semver: patch

#186 fix: program exit behavior on single-core targets
  packages/vexide-core/src/program.rs
Labels: type: bug, scope: startup, semver: patch

#196 feat: return ports to DynamicPeripherals
  packages/vexide-devices/src/peripherals.rs
Labels: type: enhancement, scope: smart-devices, scope: adi-devices, semver: patch, scope: misc-devices

#188 docs: improved module docs for `vexide-devices`
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  README.md
  examples/adi_expander.rs
  examples/smart_devices.rs
  packages/vexide-devices/README.md
  packages/vexide-devices/src/adi/analog.rs
  packages/vexide-devices/src/adi/digital.rs
  packages/vexide-devices/src/adi/light_sensor.rs
  packages/vexide-devices/src/adi/line_tracker.rs
  packages/vexide-devices/src/adi/mod.rs
  packages/vexide-devices/src/battery.rs
  packages/vexide-devices/src/color.rs
  packages/vexide-devices/src/controller.rs
  packages/vexide-devices/src/display.rs
  packages/vexide-devices/src/lib.rs
  packages/vexide-devices/src/peripherals.rs
  packages/vexide-devices/src/position.rs
  packages/vexide-devices/src/smart/distance.rs
  packages/vexide-devices/src/smart/expander.rs
  packages/vexide-devices/src/smart/gps.rs
  packages/vexide-devices/src/smart/imu.rs
  packages/vexide-devices/src/smart/link.rs
  packages/vexide-devices/src/smart/mod.rs
  packages/vexide-devices/src/smart/motor.rs
  packages/vexide-devices/src/smart/optical.rs
  packages/vexide-devices/src/smart/rotation.rs
  packages/vexide-devices/src/smart/serial.rs
  packages/vexide-devices/src/smart/vision.rs
  packages/vexide-graphics/src/embedded_graphics.rs
  packages/vexide-startup/README.md
  packages/vexide/src/lib.rs
Labels: type: documentation, scope: smart-devices, scope: adi-devices, semver: patch, scope: misc-devices

#197 fix: remove useless generics from `AdiAddrLed::new`
  CHANGELOG.md
  packages/vexide-devices/src/adi/addrled.rs
Labels: scope: adi-devices, semver: major

#203 refactor: rename `AddrLedError::Adi` to `AddrLedError::Port`
  CHANGELOG.md
  packages/vexide-devices/src/adi/addrled.rs
Labels: scope: adi-devices, semver: major

#201 refactor: switch to `rgb` crate for color storage
  CHANGELOG.md
  packages/vexide-devices/Cargo.toml
  packages/vexide-devices/src/adi/addrled.rs
  packages/vexide-devices/src/color.rs
  packages/vexide-devices/src/display.rs
  packages/vexide-devices/src/lib.rs
  packages/vexide-devices/src/rgb.rs
  packages/vexide-devices/src/smart/vision.rs
  packages/vexide-graphics/src/embedded_graphics.rs
  packages/vexide-panic/src/lib.rs
  packages/vexide/src/lib.rs
Labels: semver: major, scope: misc-devices

#202 feat: relax `Sized` bound on `Mutex`
  CHANGELOG.md
  packages/vexide-core/src/sync/mutex.rs
Labels: scope: core, scope: async, semver: major

#204 refactor: use more clear controller trigger names
  CHANGELOG.md
  examples/clawbot.rs
  packages/vexide-devices/src/controller.rs
Labels: semver: major, scope: misc-devices
