Repository vexide/vexide, pull requests merged in 2024-09, with the labels that each got.

#117 refactor: overhaul the startup banner design
  CHANGELOG.md
  packages/vexide-async/Cargo.toml
  packages/vexide-core/Cargo.toml
  packages/vexide-devices/Cargo.toml
  packages/vexide-graphics/Cargo.toml
  packages/vexide-panic/Cargo.toml
  packages/vexide-startup/Cargo.toml
  packages/vexide-startup/src/banner/mod.rs
  packages/vexide-startup/src/banner/themes.rs
  packages/vexide-startup/src/lib.rs
  packages/vexide/Cargo.toml
Labels: scope: startup

#128 fix(screen): correct vexDisplayCopyRect region
  CHANGELOG.md
  packages/vexide-devices/src/screen.rs
Labels: type: bug, scope: graphics, semver: patch

#130 feat: add backtraces
  armv7a-vex-v5.json
  packages/vexide-core/Cargo.toml
  packages/vexide-core/src/backtrace.rs
  packages/vexide-core/src/lib.rs
  packages/vexide-panic/Cargo.toml
  packages/vexide-panic/build.rs
  packages/vexide-panic/link/libunwind.a
  packages/vexide-panic/src/lib.rs
  packages/vexide-startup/Cargo.toml
  packages/vexide-startup/link/v5.ld
  packages/vexide/Cargo.toml
Labels: type: enhancement, scope: core, semver: minor

#122 refactor: distance sensor API
  CHANGELOG.md
  packages/vexide-devices/src/smart/distance.rs
  packages/vexide/examples/smart_devices.rs
Labels: scope: smart-devices, semver: major

#99 feat: add `cargo run` runner
  .cargo/config.toml
Labels: type: enhancement, scope: dev-tools, semver: patch

#133 refactor: make controller joysticks return `f64`
  CHANGELOG.md
  packages/vexide-devices/src/controller.rs
  packages/vexide/examples/clawbot.rs
  packages/vexide/examples/smart_devices.rs
Labels: scope: smart-devices, type: refactor, semver: major

#134 fix: stop double buffered rending from stopping panic message rendering
  CHANGELOG.md
  packages/vexide-panic/src/lib.rs
Labels: scope: core, semver: patch

#127 add: support banner themes in the `vexide::main` macro
  CHANGELOG.md
  flake.lock
  flake.nix
  packages/vexide-macro/src/lib.rs
  packages/vexide-macro/src/parse.rs
  packages/vexide-startup/examples/booting.rs
  packages/vexide-startup/src/banner/mod.rs
  packages/vexide-startup/src/banner/themes.rs
  packages/vexide-startup/src/lib.rs
  packages/vexide/examples/bannerless.rs
  packages/vexide/examples/themed_banner.rs
Labels: type: enhancement, scope: startup, semver: major

#136 chore: update vex-sdk
  packages/vexide-async/Cargo.toml
  packages/vexide-core/Cargo.toml
  packages/vexide-devices/Cargo.toml
  packages/vexide-graphics/Cargo.toml
  packages/vexide-panic/Cargo.toml
  packages/vexide-startup/Cargo.toml
  packages/vexide/Cargo.toml
Labels: type: enhancement, semver: major
