Repository vexide/vexide, pull requests merged in 2024-06, with the labels that each got.

#73 fix: add nightly cargo to the flake dev environment
  flake.lock
  flake.nix
Labels: enhancement

#87 refactor(experimental): simplify the competition API
  packages/vexide-core/src/competition.rs
  packages/vexide/examples/clawbot.rs
  packages/vexide/examples/competition.rs
  packages/vexide/examples/competition_robot.rs
  packages/vexide/src/lib.rs
Labels: core

#90 fix: add missing llvm-tools component to rust toolchain in flake
  flake.nix
Labels: bug

#85 feat: Add text alignment to Text widget
  packages/vexide-devices/src/screen.rs
Labels: enhancement, graphics

#89 feat(competition): allow tasks to explicity break out of the competition lifecycle
  packages/vexide-core/src/competition.rs
Labels: core

#91 feat: add more Point2 conversions
  packages/vexide-devices/Cargo.toml
  packages/vexide-devices/src/geometry/mod.rs
  packages/vexide-devices/src/geometry/nalgebra.rs
Labels: enhancement, graphics

#84 fix(screen): provide explicit format string to sdk functions with varargs
  packages/vexide-devices/src/screen.rs
Labels: bug, graphics

#88 refactor: rename `Competition` trait to `Compete`
  packages/vexide-core/src/competition.rs
  packages/vexide/examples/clawbot.rs
  packages/vexide/examples/competition.rs
  packages/vexide/src/lib.rs
Labels: type: enhancement, scope: core, semver: major

#102 feat: add startup options to main macro
  .github/workflows/rust.yml
  .vscode/settings.json
  CHANGELOG.md
  packages/vexide-macro/Cargo.toml
  packages/vexide-macro/src/lib.rs
  packages/vexide-macro/src/parse.rs
  packages/vexide-startup/Cargo.toml
  packages/vexide-startup/examples/booting.rs
  packages/vexide-startup/src/lib.rs
  packages/vexide/examples/bannerless.rs
  packages/vexide/examples/custom_code_sig.rs
Labels: type: enhancement, scope: startup, semver: major

#105 fix: resolve all CI errors and warnings
  .github/workflows/rust.yml
  packages/vexide-async/src/time.rs
  packages/vexide-devices/src/adi/addrled.rs
  packages/vexide-devices/src/position.rs
  packages/vexide-devices/src/smart/motor.rs
  packages/vexide-graphics/src/slint.rs
  packages/vexide-startup/examples/booting.rs
Labels: type: bug, semver: patch

#103 fix(clawbot): enable arm usage when claw is not in use
  packages/vexide/examples/clawbot.rs
Labels: type: bug, semver: patch, scope: examples

#96 fix: libm, time documentation
  packages/vexide-core/src/float/vexos.rs
  packages/vexide-core/src/time.rs
  packages/vexide-startup/link/libm.a
Labels: type: bug, scope: core, env: armv7a-vexos-eabi, semver: patch
