Repository vexide/vexide, pull requests merged in 2024-08, with the labels that each got.

#79 feat: very finished GPS implementation
  CHANGELOG.md
  packages/vexide-devices/src/smart/gps.rs
  packages/vexide-devices/src/smart/imu.rs
  packages/vexide-devices/src/smart/mod.rs
Labels: type: enhancement, scope: smart-devices, semver: minor

#121 refactor: consistent port numbering terminology, infallible `SmartPort::device_type`
  CHANGELOG.md
  packages/vexide-devices/src/adi/accelerometer.rs
  packages/vexide-devices/src/adi/addrled.rs
  packages/vexide-devices/src/adi/analog.rs
  packages/vexide-devices/src/adi/digital.rs
  packages/vexide-devices/src/adi/encoder.rs
  packages/vexide-devices/src/adi/light_sensor.rs
  packages/vexide-devices/src/adi/line_tracker.rs
  packages/vexide-devices/src/adi/mod.rs
  packages/vexide-devices/src/adi/motor.rs
  packages/vexide-devices/src/adi/potentiometer.rs
  packages/vexide-devices/src/adi/pwm.rs
  packages/vexide-devices/src/adi/range_finder.rs
  packages/vexide-devices/src/adi/solenoid.rs
  packages/vexide-devices/src/peripherals.rs
  packages/vexide-devices/src/smart/distance.rs
  packages/vexide-devices/src/smart/expander.rs
  packages/vexide-devices/src/smart/gps.rs
  packages/vexide-devices/src/smart/imu.rs
  packages/vexide-devices/src/smart/link.rs
  packages/vexide-devices/src/smart/mod.rs
  packages/vexide-devices/src/smart/motor.rs
  packages/vexide-devices/src/smart/optical.rs
  packages/vexide-devices/src/smart/rotation.rs
  packages/vexide-devices/src/smart/serial.rs
  packages/vexide-devices/src/smart/vision.rs
Labels: scope: smart-devices, scope: adi-devices, type: refactor, semver: major

#112 feat: add must_use to Sleep struct
  CHANGELOG.md
  packages/vexide-async/src/time.rs
  packages/vexide-core/src/sync/barrier.rs
  packages/vexide-core/src/sync/condvar.rs
  packages/vexide-core/src/sync/mutex.rs
  packages/vexide-core/src/sync/rwlock.rs
  packages/vexide-devices/src/smart/imu.rs
Labels: type: enhancement, scope: async, semver: patch
