Repository vexide/vexide, pull requests merged in 2024-11, with the labels that each got.

#207 docs: document examples
  .vscode/settings.json
  README.md
  examples/README.md
  examples/sync.rs
  packages/vexide/src/lib.rs
Labels: scope: examples

#219 refactor: remove `SmartDeviceType::None`, refactor port validation
  CHANGELOG.md
  packages/vexide-devices/src/adi/mod.rs
  packages/vexide-devices/src/smart/mod.rs
Labels: scope: smart-devices, semver: major

#220 refactor: rename NonTerminatingNul to Nul
  CHANGELOG.md
  packages/vexide-devices/src/controller.rs
  packages/vexide-devices/src/smart/link.rs
Labels: scope: smart-devices, semver: major, scope: misc-devices

#211 docs: improve documentation for smart devices
  CHANGELOG.md
  packages/vexide-devices/src/battery.rs
  packages/vexide-devices/src/controller.rs
  packages/vexide-devices/src/lib.rs
  packages/vexide-devices/src/smart/distance.rs
  packages/vexide-devices/src/smart/expander.rs
  packages/vexide-devices/src/smart/gps.rs
  packages/vexide-devices/src/smart/imu.rs
  packages/vexide-devices/src/smart/link.rs
  packages/vexide-devices/src/smart/mod.rs
  packages/vexide-devices/src/smart/motor.rs
  packages/vexide-devices/src/smart/optical.rs
  packages/vexide-devices/src/smart/rotation.rs
  packages/vexide-devices/src/smart/serial.rs
  packages/vexide-devices/src/smart/vision.rs
Labels: type: documentation, scope: smart-devices, semver: major

#218 refactor: simplify math types
  .vscode/settings.json
  CHANGELOG.md
  examples/screen.rs
  packages/vexide-devices/Cargo.toml
  packages/vexide-devices/src/display.rs
  packages/vexide-devices/src/geometry/mod.rs
  packages/vexide-devices/src/geometry/nalgebra.rs
  packages/vexide-devices/src/lib.rs
  packages/vexide-devices/src/math.rs
  packages/vexide-devices/src/smart/gps.rs
  packages/vexide-devices/src/smart/imu.rs
  packages/vexide-devices/src/smart/vision.rs
  packages/vexide-graphics/src/slint.rs
  packages/vexide-panic/src/lib.rs
Labels: type: refactor, semver: major

#221 feat: add metadata to errors
  .vscode/settings.json
  CHANGELOG.md
  packages/vexide-devices/src/adi/addrled.rs
  packages/vexide-devices/src/adi/encoder.rs
  packages/vexide-devices/src/adi/mod.rs
  packages/vexide-devices/src/adi/range_finder.rs
  packages/vexide-devices/src/controller.rs
  packages/vexide-devices/src/display.rs
  packages/vexide-devices/src/lib.rs
  packages/vexide-devices/src/smart/distance.rs
  packages/vexide-devices/src/smart/imu.rs
  packages/vexide-devices/src/smart/link.rs
  packages/vexide-devices/src/smart/mod.rs
  packages/vexide-devices/src/smart/motor.rs
  packages/vexide-devices/src/smart/serial.rs
  packages/vexide-devices/src/smart/vision.rs
Labels: type: enhancement, semver: major

#176 feat: electromagnet support
  CHANGELOG.md
  packages/vexide-devices/src/smart/electromagnet.rs
  packages/vexide-devices/src/smart/mod.rs
Labels: type: enhancement, scope: smart-devices

#222 feat: make controller screen writes futures
  CHANGELOG.md
  packages/vexide-devices/src/controller.rs
  packages/vexide-devices/src/smart/motor.rs
Labels: type: enhancement, semver: major, scope: misc-devices

#225 fix: hide internal details of `IntertialCalibrateFuture` and give it a lifetime for safety
  CHANGELOG.md
  packages/vexide-devices/src/smart/imu.rs
Labels: type: bug, scope: smart-devices, semver: major

#230 feat: add `Mul<i64>` and `Div<i64>` impls for `Position`
  CHANGELOG.md
  packages/vexide-devices/src/position.rs
Labels: type: enhancement, semver: minor, scope: misc-devices

#231 feat: power button support in `Controller`
  CHANGELOG.md
  packages/vexide-devices/src/controller.rs
Labels: type: enhancement, semver: major, scope: misc-devices

#235 fix(panic): remove feature gate which shouldn't exist
  packages/vexide-panic/src/lib.rs
Labels: scope: panic

#242 fix: Correct imu and gps offset misadjustment
  CHANGELOG.md
  packages/vexide-devices/src/smart/gps.rs
  packages/vexide-devices/src/smart/imu.rs
Labels: scope: smart-devices

#243 fix: correctly handle VEXlink errors
  CHANGELOG.md
  Cargo.toml
  examples/README.md
  examples/vexlink_manager.rs
  examples/vexlink_worker.rs
  packages/vexide-async/Cargo.toml
  packages/vexide-core/Cargo.toml
  packages/vexide-devices/Cargo.toml
  packages/vexide-devices/src/smart/link.rs
  packages/vexide-graphics/Cargo.toml
  packages/vexide-panic/Cargo.toml
  packages/vexide-startup/Cargo.toml
  packages/vexide/Cargo.toml
Labels: scope: smart-devices, semver: major

#248 feat: add advanced font config
  CHANGELOG.md
  armv7a-vex-v5.json
  examples/README.md
  examples/display.rs
  examples/screen.rs
  packages/vexide-devices/src/display.rs
  packages/vexide-panic/src/lib.rs
Labels: type: enhancement, scope: graphics, semver: major

#58 feat: AI vision sensor support
  CHANGELOG.md
  examples/README.md
  examples/ai_vision.rs
  packages/vexide-devices/src/smart/ai_vision.rs
  packages/vexide-devices/src/smart/mod.rs
  packages/vexide-devices/src/smart/vision.rs
  packages/vexide/src/lib.rs
Labels: type: enhancement, scope: smart-devices

#22 feat: usd filesystem API
  CHANGELOG.md
  examples/README.md
  examples/fs.rs
  packages/vexide-core/src/fs/fs_str.rs
  packages/vexide-core/src/fs/mod.rs
  packages/vexide-core/src/lib.rs
  packages/vexide-core/src/path.rs
Labels: type: enhancement, scope: core, scope: io

#193 refactor: remove wasm integration
  .cargo/config.toml
  Cargo.toml
  README.md
  packages/vexide-core/Cargo.toml
  packages/vexide-core/src/allocator.rs
  packages/vexide-core/src/allocator/mod.rs
  packages/vexide-core/src/allocator/wasm.rs
  packages/vexide-core/src/backtrace.rs
  packages/vexide-core/src/float/mod.rs
  packages/vexide-core/src/float/rust.rs
  packages/vexide-core/src/lib.rs
  packages/vexide-panic/src/lib.rs
  packages/vexide-startup/src/lib.rs
Labels: env: wasm32, semver: major
