Repository vexide/vexide, pull requests merged in 2024-05, with the labels that each got.

#50 feat: add missing synchronizaiton primitives
  packages/vexide-core/Cargo.toml
  packages/vexide-core/src/sync/barrier.rs
  packages/vexide-core/src/sync/condvar.rs
  packages/vexide-core/src/sync/lazy.rs
  packages/vexide-core/src/sync/mod.rs
  packages/vexide-core/src/sync/mutex.rs
  packages/vexide-core/src/sync/once.rs
  packages/vexide-core/src/sync/rwlock.rs
  packages/vexide/examples/sync.rs
Labels: core

#31 docs: update examples
  .github/workflows/rust.yml
  packages/vexide-devices/src/adi/mod.rs
  packages/vexide-startup/examples/booting.rs
  packages/vexide/examples/accessories.rs
  packages/vexide/examples/adi.rs
  packages/vexide/examples/adi_expander.rs
  packages/vexide/examples/async.rs
  packages/vexide/examples/basic.rs
  packages/vexide/examples/battery.rs
  packages/vexide/examples/clawbot.rs
  packages/vexide/examples/competition.rs
  packages/vexide/examples/competition_robot.rs
  packages/vexide/examples/dynamic_peripherals.rs
  packages/vexide/examples/imu.rs
  packages/vexide/examples/optical.rs
  packages/vexide/examples/screen.rs
  packages/vexide/examples/smart_devices.rs
  packages/vexide/src/lib.rs
Labels: documentation

#33 add: vexide-graphics crate and driver implementations
  packages/vexide-async/Cargo.toml
  packages/vexide-core/Cargo.toml
  packages/vexide-devices/Cargo.toml
  packages/vexide-devices/src/screen.rs
  packages/vexide-graphics/Cargo.toml
  packages/vexide-graphics/src/embedded_graphics.rs
  packages/vexide-graphics/src/lib.rs
  packages/vexide-graphics/src/slint.rs
  packages/vexide-panic/Cargo.toml
  packages/vexide-startup/Cargo.toml
  packages/vexide/Cargo.toml
  packages/vexide/src/lib.rs
Labels: graphics

#39 docs: update docs for the upcoming 0.1.0 release
  CHANGELOG.md
  packages/vexide-async/Cargo.toml
  packages/vexide-async/src/lib.rs
  packages/vexide-core/Cargo.toml
  packages/vexide-core/README.md
  packages/vexide-core/src/allocator/mod.rs
  packages/vexide-core/src/allocator/vexos.rs
  packages/vexide-core/src/lib.rs
  packages/vexide-core/src/program.rs
  packages/vexide-core/src/sync/condvar.rs
  packages/vexide-core/src/sync/rwlock.rs
  packages/vexide-core/src/time.rs
  packages/vexide-devices/Cargo.toml
  packages/vexide-devices/README.md
  packages/vexide-devices/src/adi/digital.rs
  packages/vexide-devices/src/adi/mod.rs
  packages/vexide-devices/src/color.rs
  packages/vexide-devices/src/controller.rs
  packages/vexide-devices/src/lib.rs
  packages/vexide-devices/src/peripherals.rs
  packages/vexide-devices/src/screen.rs
  packages/vexide-devices/src/smart/distance.rs
  packages/vexide-devices/src/smart/expander.rs
  packages/vexide-devices/src/smart/link.rs
  packages/vexide-devices/src/smart/mod.rs
  packages/vexide-devices/src/smart/motor.rs
  packages/vexide-devices/src/smart/serial.rs
  packages/vexide-devices/src/smart/vision.rs
  packages/vexide-devices/src/usd.rs
  packages/vexide-math/Cargo.toml
  packages/vexide-math/src/feedforward.rs
  packages/vexide-panic/Cargo.toml
  packages/vexide-panic/README.md
  packages/vexide-startup/src/lib.rs
  packages/vexide/Cargo.toml
  packages/vexide/src/lib.rs
Labels: documentation

#55 refactor: `vexide_async` crate organization
  packages/vexide-async/src/lib.rs
  packages/vexide-async/src/reactor.rs
  packages/vexide-async/src/task.rs
  packages/vexide-async/src/time.rs
  packages/vexide-startup/src/lib.rs
  packages/vexide/examples/sync.rs
  packages/vexide/src/lib.rs
Labels: async

#52 refactor: new `Position` struct
  packages/vexide-devices/src/adi/encoder.rs
  packages/vexide-devices/src/position.rs
  packages/vexide-devices/src/smart/motor.rs
  packages/vexide-devices/src/smart/rotation.rs
  packages/vexide/examples/clawbot.rs
Labels: smart-devices, adi-devices

#35 refactor: define constant naming scheme
  packages/vexide-devices/src/controller.rs
  packages/vexide-devices/src/smart/imu.rs
  packages/vexide-devices/src/smart/motor.rs
  packages/vexide-devices/src/smart/rotation.rs
  packages/vexide-devices/src/smart/vision.rs
  packages/vexide/examples/clawbot.rs
Labels: documentation

#60 docs: update advantages over PROS to eliminate duplicate and inaccurate points
  packages/vexide/src/lib.rs
Labels: documentation

#61 fix(controller): use correct axes for left and right sticks
  packages/vexide-devices/src/controller.rs
Labels: bug, smart-devices

#62 fix: remove several unintended `pub use`s from `program.rs`
  packages/vexide-core/src/program.rs
Labels: core

#75 fix(macro): wrap original function instead of re-writing
  packages/vexide-macro/Cargo.toml
  packages/vexide-macro/src/lib.rs
Labels: bug, startup
