Repository vexide/vexide, pull requests merged in 2025-03, with the labels that each got.

#309 docs: document `vexide-core` more extensively, add `abort`
  CHANGELOG.md
  packages/vexide-async/src/lib.rs
  packages/vexide-core/src/allocator.rs
  packages/vexide-core/src/backtrace.rs
  packages/vexide-core/src/competition.rs
  packages/vexide-core/src/float/mod.rs
  packages/vexide-core/src/fs/fs_str.rs
  packages/vexide-core/src/fs/mod.rs
  packages/vexide-core/src/os.rs
  packages/vexide-core/src/path.rs
  packages/vexide-core/src/program.rs
  packages/vexide-panic/src/lib.rs
  packages/vexide/src/lib.rs
Labels: type: documentation, scope: core

#311 feat: make `talc` an optional dependency
  CHANGELOG.md
  packages/vexide-core/Cargo.toml
  packages/vexide-core/src/lib.rs
  packages/vexide-startup/Cargo.toml
  packages/vexide-startup/src/lib.rs
  packages/vexide/Cargo.toml
  packages/vexide/src/lib.rs
Labels: type: enhancement, scope: core

#314 Various small refactors and fixes
  CHANGELOG.md
  packages/vexide-core/src/fs/mod.rs
Labels: scope: core

#316 fix: use correct assertion logic in AI vision id methods
  packages/vexide-core/src/competition.rs
  packages/vexide-core/src/float/newlib.rs
  packages/vexide-core/src/fs/fs_str.rs
  packages/vexide-core/src/fs/mod.rs
  packages/vexide-devices/src/adi/motor.rs
  packages/vexide-devices/src/controller.rs
  packages/vexide-devices/src/peripherals.rs
  packages/vexide-devices/src/smart/ai_vision.rs
  packages/vexide-devices/src/smart/gps.rs
  packages/vexide-devices/src/smart/imu.rs
  packages/vexide-devices/src/smart/motor.rs
  packages/vexide-startup/src/patcher/mod.rs
Labels: scope: smart-devices
