Repository vexide/vexide, pull requests merged in 2025-02, with the labels that each got.

#258 docs: update contributing.md
  CONTRIBUTING.md
Labels: type: documentation

#295 fix: close files on drop
  CHANGELOG.md
  examples/fs.rs
  packages/vexide-core/src/fs/mod.rs
Labels: type: bug, scope: core, scope: io

#296 feat: dir reading
  CHANGELOG.md
  examples/fs.rs
  packages/vexide-core/src/fs/fs_str.rs
  packages/vexide-core/src/fs/mod.rs
  packages/vexide-core/src/path.rs
Labels: type: enhancement, scope: core, scope: io

#299 fix: implement naive print macro flushing
  CHANGELOG.md
  packages/vexide-core/src/allocator.rs
  packages/vexide-core/src/fs/fs_str.rs
  packages/vexide-core/src/fs/mod.rs
  packages/vexide-core/src/io/mod.rs
  packages/vexide-core/src/io/stdio.rs
  packages/vexide-devices/src/adi/gyroscope.rs
  packages/vexide-devices/src/adi/mod.rs
  packages/vexide-devices/src/adi/servo.rs
  packages/vexide-devices/src/controller.rs
  packages/vexide-devices/src/display.rs
Labels: type: bug, type: enhancement, scope: core, scope: io
