Repository vexide/vexide, pull requests merged in 2025-01, with the labels that each got.

#266 refactor: turn errors caused by user end bugs into panics
  CHANGELOG.md
  packages/vexide-devices/src/controller.rs
  packages/vexide-devices/src/display.rs
  packages/vexide-devices/src/smart/ai_vision.rs
  packages/vexide-devices/src/smart/vision.rs
  packages/vexide-graphics/src/slint.rs
Labels: scope: smart-devices, type: refactor, semver: major

#269 feat: differential uploading
  CHANGELOG.md
  LICENSE
  armv7a-vex-v5.json
  packages/vexide-core/src/allocator.rs
  packages/vexide-core/src/float/newlib.rs
  packages/vexide-startup/link/v5.ld
  packages/vexide-startup/src/lib.rs
  packages/vexide-startup/src/patcher/mod.rs
  packages/vexide-startup/src/patcher/overwriter.S
  packages/vexide-startup/src/patcher/overwriter_aeabi_memcpy.S
  packages/vexide-startup/src/patcher/varint_encoding.rs
  packages/vexide/Cargo.toml
Labels: type: enhancement, scope: core

#281 fix: disallow explicit construction of Stdin/Stdout
  CHANGELOG.md
  packages/vexide-core/src/io/stdio.rs
Labels: scope: core, scope: io

#271 refactor: clean up two-wire ADI devices
  CHANGELOG.md
  examples/adi.rs
  packages/vexide-devices/src/adi/accelerometer.rs
  packages/vexide-devices/src/adi/addrled.rs
  packages/vexide-devices/src/adi/analog.rs
  packages/vexide-devices/src/adi/digital.rs
  packages/vexide-devices/src/adi/encoder.rs
  packages/vexide-devices/src/adi/gyroscope.rs
  packages/vexide-devices/src/adi/light_sensor.rs
  packages/vexide-devices/src/adi/line_tracker.rs
  packages/vexide-devices/src/adi/mod.rs
  packages/vexide-devices/src/adi/motor.rs
  packages/vexide-devices/src/adi/potentiometer.rs
  packages/vexide-devices/src/adi/pwm.rs
  packages/vexide-devices/src/adi/range_finder.rs
  packages/vexide-devices/src/adi/servo.rs
Labels: scope: adi-devices, semver: major
